h1 {
    color: white;
    font-family: 'Raleway', serif;
    font-weight: bold;
}

.landing {
    background-color: black;
    max-width: 600px;
    margin: auto;
    margin-top: 21%;
}
.landing-text {
    text-align: center;
}

.external-link {
    color: white;
}

.external-link:hover {
    color: #EC33FF;
}

body {
    background-image: url('../img/background/cloud_mountain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-family: 'Raleway', serif;
    color: white;
    background-color: red;
}