h1 {
    color: white;
    font-family: 'Raleway', serif;
    font-weight: bold;
}

.landing {
    /* background-color: black; */
}
.landing-text {
    text-align: center;
    /* background-color: green; */
    max-width: 600px;
    margin: auto;
    margin-top: 21%;
}

.external-link {
    color: white;
}

.external-link:hover {
    color: #EC33FF;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background/cloud_mountain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-family: 'Raleway', serif;
    color: white;
    /* background-color: red; */
}

/* Portfolio Stuff */
.portfolio {
    text-align: center;
    background-color: black;
    margin: auto;
    margin-top: 21%;
}

.portfolio-header {
    font-family: 'Roboto', serif;
}